.app {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

.app-body {
  width: 100%;
  margin-top: 10vh;
  padding: 5vh 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left,
.right {
  width: 50%;
}

table {
  border-collapse: collapse;
}
.table-header {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.left-thead {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.left-tr {
  border-bottom: 5px solid transparent;
}
.left-tr:nth-of-type(even) {
  background-color: #fafafa;
}

.left-td-list {
  text-align: center;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px 2px;
}
